#bg
{
	height:150%;
	background: -webkit-linear-gradient(left top, #FFB6C1 , blue); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #FFB6C1, blue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #FFB6C1, blue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #FFB6C1 , blue); /* Standard syntax */
}

#listItems{
	list-style-type:none;
	float:center;
	color:black;
	margin-left:30%;
	font-size:30px;
	font-family:Rockwell Extra Bold;
}

#myText
{
	background-color:#E6E6FA;
	border:1px solid #d1c7ac;
	width: 300px;
	color:#483D8B;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	margin-left:30%;
	font-family:Comic Sans MS;
	font-size:20px;
	float:center;
	height:34px;
	box-shadow:5px 5px 5px #666;
}

#add
{
	width: 75px;
	height: 39px;
	border: 1px solid #00008B;
	background-color:#ADD8E6;
	font-family:Comic Sans MS;
	font-size:20px;
	font-weight:bold;
	color:#00008B;
}

#deleteImg
{
	margin-left:30%;
}

#ttl
{
	font-size:40px;
	margin-left:35%;
	font-family:Comic Sans MS;
	color:#00FFFF;
	text-shadow: 1px 1px 2px #DB7093, 0 0 25px blue, 0 0 5px darkblue;
}

#myDiv
{
	border-top-style:none;
	border-left-style:none;
	border-right-style:none;
	border-bottom:2px solid #191970;
	margin-right:500px;
	background-color:#FFF0F5;
}


